.features {
  display: flex;
  align-items: stretch;
  padding: 3rem 0;
  width: 100%;
  background: var(--ifm-background-color);
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureLink {
  text-decoration: none;
  display: block;
  height: 100%;
}

.featureLink:hover {
  text-decoration: none;
}

.featureCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.featureTitle {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--ifm-font-color-base);
  margin-bottom: 0.75rem;
}

.featureDescription {
  color: var(--ifm-font-color-secondary);
  line-height: 1.6;
  margin: 0;
  flex-grow: 1;
}

.featureIcon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1;
}
